/***
 * BASE CSS
 */
html {

	/* Box Model */
	height:100%;

	/* Visual */
	-webkit-box-shadow:inset 0 0 30px 0 #E2E3D8; /* Soften edges */
	        box-shadow:inset 0 0 30px 0 #E2E3D8;
	
	/* TODO: check in which browser it causes bugs
	   issue : in FF 11 +, regression bug where ctrl+a select text anyway
	*/
	-webkit-user-select:none;
	 -khtml-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
 	        user-select:none;
}

.wrap {
	overflow:hidden;
	height:100%;
	position:relative;
}

body {

	/* Box Model */
	height:100%;
	width:100%;
	overflow:hidden;

	/* Visual */
	background:no-repeat center center  url(data:image/gif;bogus:ABCDEF;base64,R0lGODlhEAALAPQAAOLj2EaAhsrUy8XQyNXb0EmBh0aAhmGRlJWyr4CkpLfIwVqMkHKcnJm1soKmprrJwlyNkUeAhnWdntLZz8rUy9vf1GeVl8zVzNre07TGv6e9ucHOxtfc0gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);

	/* Text */
	font-family:Helvetica, Arial, sans-serif;

	/* Behaviour */
	background-size:16px 11px;
	-webkit-transform:translateZ(1);
	   -moz-transform:translateZ(1);
	    -ms-transform:translateZ(1);
	        transform:translateZ(1);

	-webkit-transition: background-size 0.2s ease-out;
	   -moz-transition: background-size 0.2s ease-out;
	     -o-transition: background-size 0.2s ease-out;
	        transition: background-size 0.2s ease-out;
}

.ready body {
	background-size:0 0;
}

.prefetch {
	position:absolute;
	top:-9999px;
}

html, .error {
	background:#e2e3d8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAABlBMVEXi49jd3tP3T+KjAAAAG0lEQVQIW2NgZAABRjACYyABEUNQUGG4MiAJAAGkAA41CCGLAAAAAElFTkSuQmCC);
}

/***
 * ERRORS
 ***/
.error {

	/* Position */
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9999;

	/* Visual */
	-webkit-box-shadow:inset 0 0 30px 0 #e2e3d8; /* Soften edges */
	        box-shadow:inset 0 0 30px 0 #e2e3d8;
}

/* Hide div error, only noscript error is shown */
div.error {
	display:none;
}

.ready div.error {
	display:block;
}

.error .text {

	/* Position */
	position:absolute;
	left:0;
	top:50%;
	margin:-25px 0 0;

	/* Box Model */
	width:100%;
	height:50px;
	
	/* Text */
	color:#654439;
	font-weight:bold;
	font-size:16px;
	text-shadow:0 1px #fff;
	text-align:center;
	line-height:25px;
}

#too-small {
	display:none;
}

@media all and ( max-width:553px ) {
	#too-small { display:block; }
}

@media all and ( max-width:553px ) and ( max-height:700px ) {
	#too-small { display:block; }
}

@media all and ( max-width:800px ) and ( max-height:660px ) {
	#too-small { display:block; }
}

/*@media all and ( max-width:800px ) and ( max-width:800px ) {
	#too-small { display:block; }
}*/

/**
 * Weird: required for IE8 because it make document.elementFromPoint fail, returning [object HTMLNoShowElement]
 * Noscript seems to be shown and above other elements even when JavaScript is enabled
 */
.ready noscript {
	display:none;
}