/***
 * Styles related to BLOCKS
 ***/
#play {

	/* Position */
	position:absolute;
	left:50%;
	top:50%;
	margin:-240px 0 0 -240px;
	
	/* Box Model */
	width:480px;
	height:480px;

	/* Visual */
	background:url(../img/sprite.png) no-repeat -13px -13px #54858A; /* Background requires to prevent white lines in chrome */

	/* Behaviour */
	opacity:0;
	
	-webkit-user-select:none;
	 -khtml-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
	        user-select:none;

	-webkit-touch-callout:none;

	/**
	 * Prevent bug in webkit: translateZ'ed elements are on top of other elements 
	 * But causes bug in chrome with white lines
	 * -
	 * sans : pas de ligne blanche mais les animation du menu laisse des lignes partout (less bad)
	 * avec : ligne blanche mais animation menu OK
	 * solution (?): mettre une classe qui active le translateZ pendant le temps de l'animation puis l'enlever sur le body ou sur play-area
	 */
	/*-webkit-transform:	translateZ(1px);
	-moz-transform:		translateZ(1px);
	-ms-transform:		translateZ(1px);
	transform:			translateZ(1px);*/

}

.ui-ready #play {
	opacity:1;
}

.block {

	/* Position */
	position:absolute;

	/* Box Model */
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	    -ms-box-sizing:border-box;
	        box-sizing:border-box;

	/* Visual */
	opacity:1;
	background:url(../img/sprite.png) no-repeat 0 -9999px;

	/* Behaviour */
	cursor:move;
	
	-webkit-transition-duration:.6s;
	-webkit-transition-property:opacity, -webkit-transform;
	-webkit-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);

	-moz-transition-duration:.6s;
	-moz-transition-property:opacity, -moz-transform, transform;
	-moz-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	
	-ms-transition-duration:.6s;
	-ms-transition-property:opacity, -ms-transform, transform;
	-ms-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);

	-o-transition-duration:.6s;
	-o-transition-property:opacity, -o-transform;
	-o-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	
	transition-duration:.6s;
	transition-property:opacity, transform;
	transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);

	-webkit-transform:none; 
	   -moz-transform:none;
	    -ms-transform:none;
	     -o-transform:none; 
	        transform:none;
}

.blocks-out-top .block {
	-webkit-transition-timing-function:ease;
	   -moz-transition-timing-function:ease;
	    -ms-transition-timing-function:ease;
	     -o-transition-timing-function:ease;
	        transition-timing-function:ease;
}

.block.delay-1 {
	-webkit-transition-delay:0s;
	   -moz-transition-delay:0s;
	    -ms-transition-delay:0s;
	     -o-transition-delay:0s;
	        transition-delay:0s;

	z-index:1;
}

.block.delay-2 {
	-webkit-transition-delay:.1s;
	   -moz-transition-delay:.1s;
	    -ms-transition-delay:.1s;
	     -o-transition-delay:.1s;
	        transition-delay:.1s;

	z-index:2;
}


.block.delay-3 {
	-webkit-transition-delay:.2s;
	   -moz-transition-delay:.2s;
	    -ms-transition-delay:.2s;
	     -o-transition-delay:.2s;
	        transition-delay:.2s;

	z-index:3;
}

.block.delay-4 {
	-webkit-transition-delay:.3s;
	   -moz-transition-delay:.3s;
	    -ms-transition-delay:.3s;
	     -o-transition-delay:.3s;
	        transition-delay:.3s;

	z-index:4;
}

.blocks-out-top .block {
	-webkit-transition-delay:0s;
	   -moz-transition-delay:0s;
	    -ms-transition-delay:0s;
	     -o-transition-delay:0s;
	        transition-delay:0s;
}

.block.dragged {
	-webkit-transition:none; 
	   -moz-transition:none;
	    -ms-transition:none;
	     -o-transition:none; 
	        transition:none;
}

.block.dir-h.size-2 {
	background-position:-540px -174px;
}

.block.dir-h.size-3 {
	background-position:-540px -94px;
}

.block.dir-v.size-2 {
	background-position:-780px -94px;
}

.block.dir-v.size-3 {
	background-position:-860px -94px;
}

.block.key.size-2 {
	background-position:-540px -254px;
}

/*** BLOCK OUT FROM TOP ***/
/* COL 0 */
.blocks-out-top .col-0.row-0 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2); /* No translateZ in Opera */
	        transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-0.row-1 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-300px) translateY(-300px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-0.row-2 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(-400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-0.row-3 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(-400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-300px) translateY(-400px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-0.row-4 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-0.row-5 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-300px) translateY(-500px) rotate(30deg) scale(1.2);
}

/* COL 1 */
.blocks-out-top .col-1.row-0 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-1.row-1 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(-300px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-1.row-2 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(-400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-1.row-3 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(-400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(-400px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-1.row-4 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-1.row-5 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(-500px) rotate(30deg) scale(1.2);
}

/* COL 2 */
.blocks-out-top .col-2.row-0 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-2.row-1 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(-300px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-2.row-2 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(-400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-2.row-3 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(-400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(-400px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-2.row-4 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-2.row-5 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(-500px) rotate(30deg) scale(1.2);
}

/* COL 3 */
.blocks-out-top .col-3.row-0 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-3.row-1 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(-300px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-3.row-2 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(-400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-3.row-3 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(-400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(-400px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-3.row-4 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-3.row-5 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(-500px) rotate(-30deg) scale(1.2);
}

/* COL 4 */
.blocks-out-top .col-4.row-0 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-4.row-1 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(-300px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-4.row-2 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(-400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-4.row-3 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(-400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(-400px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-4.row-4 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-4.row-5 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(-500px) rotate(-30deg) scale(1.2);
}

/* COL 5 */
.blocks-out-top .col-5.row-0 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-5.row-1 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(-300px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-5.row-2 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(-400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(30deg) scale(1.2);
}

.blocks-out-top .col-5.row-3 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(-400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(-400px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-5.row-4 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
}

.blocks-out-top .col-5.row-5 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(-500px) rotate(-30deg) scale(1.2);
}

/*** 
 * BLOCKS OUT FROM BOTTOM
 ***/
/* COL 0 */
.blocks-out-bot .col-0.row-0,
.blocks-out-bot .col-0.row-1 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(300px) rotate(-30deg) scale(1.2); /* No translateZ in Opera */
	        transform:	translateZ(1px) translateX(-300px) translateY(300px) rotate(-30deg) scale(1.2);
}

.blocks-out-bot .col-0.row-2,
.blocks-out-bot .col-0.row-3 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-300px) translateY(400px) rotate(-30deg) scale(1.2);
}

.blocks-out-bot .col-0.row-4,
.blocks-out-bot .col-0.row-5 {
	-webkit-transform:	translateZ(1px) translateX(-300px) translateY(500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-300px) translateY(500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-300px) translateY(500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-300px) translateY(500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-300px) translateY(500px) rotate(30deg) scale(1.2);
}

/* COL 1 */
.blocks-out-bot .col-1.row-0,
.blocks-out-bot .col-1.row-1 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(300px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(300px) rotate(-30deg) scale(1.2);
}

.blocks-out-bot .col-1.row-2,
.blocks-out-bot .col-1.row-3 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(400px) rotate(-30deg) scale(1.2);
}

.blocks-out-bot .col-1.row-4,
.blocks-out-bot .col-1.row-5 {
	-webkit-transform:	translateZ(1px) translateX(-200px) translateY(500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-200px) translateY(500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-200px) translateY(500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-200px) translateY(500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-200px) translateY(500px) rotate(30deg) scale(1.2);
}

/* COL 2 */
.blocks-out-bot .col-2.row-0,
.blocks-out-bot .col-2.row-1 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(300px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(300px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(300px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(300px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(300px) rotate(-30deg) scale(1.2);
}

.blocks-out-bot .col-2.row-2,
.blocks-out-bot .col-2.row-3 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(400px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(400px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(400px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(400px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(400px) rotate(-30deg) scale(1.2);
}

.blocks-out-bot .col-2.row-4,
.blocks-out-bot .col-2.row-5 {
	-webkit-transform:	translateZ(1px) translateX(-100px) translateY(500px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(-100px) translateY(500px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(-100px) translateY(500px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(-100px) translateY(500px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(-100px) translateY(500px) rotate(30deg) scale(1.2);
}

/* COL 3 */
.blocks-out-bot .col-3.row-0,
.blocks-out-bot .col-3.row-1 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(300px) rotate(30deg) scale(1.2);
}

.blocks-out-bot .col-3.row-2,
.blocks-out-bot .col-3.row-3 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(400px) rotate(30deg) scale(1.2);
}

.blocks-out-bot .col-3.row-4,
.blocks-out-bot .col-3.row-5 {
	-webkit-transform:	translateZ(1px) translateX(100px) translateY(500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(100px) translateY(500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(100px) translateY(500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(100px) translateY(500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(100px) translateY(500px) rotate(-30deg) scale(1.2);
}

/* COL 4 */
.blocks-out-bot .col-4.row-0,
.blocks-out-bot .col-4.row-1 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(300px) rotate(30deg) scale(1.2);
}

.blocks-out-bot .col-4.row-2,
.blocks-out-bot .col-4.row-3 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(400px) rotate(30deg) scale(1.2);
}

.blocks-out-bot .col-4.row-4,
.blocks-out-bot .col-4.row-5 {
	-webkit-transform:	translateZ(1px) translateX(200px) translateY(500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(200px) translateY(500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(200px) translateY(500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(200px) translateY(500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(200px) translateY(500px) rotate(-30deg) scale(1.2);
}

/* COL 5 */
.blocks-out-bot .col-5.row-0,
.blocks-out-bot .col-5.row-1 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(300px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(300px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(300px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(300px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(300px) rotate(30deg) scale(1.2);
}

.blocks-out-bot .col-5.row-2,
.blocks-out-bot .col-5.row-3 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(400px) rotate(30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(400px) rotate(30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(400px) rotate(30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(400px) rotate(30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(400px) rotate(30deg) scale(1.2);
}

.blocks-out-bot .col-5.row-4,
.blocks-out-bot .col-5.row-5 {
	-webkit-transform:	translateZ(1px) translateX(300px) translateY(500px) rotate(-30deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(300px) translateY(500px) rotate(-30deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(300px) translateY(500px) rotate(-30deg) scale(1.2);
	     -o-transform:					translateX(300px) translateY(500px) rotate(-30deg) scale(1.2);
	        transform:	translateZ(1px) translateX(300px) translateY(500px) rotate(-30deg) scale(1.2);
}

/***
 * BLOCKS OUT FAR - Top right corner
 ***/
.blocks-out-far .block {
	-webkit-transform:	translateZ(1px) translateX(1000px) translateY(-1000px) rotate(60deg) scale(1.2);
	   -moz-transform:	translateZ(1px) translateX(1000px) translateY(-1000px) rotate(60deg) scale(1.2);
	    -ms-transform:	translateZ(1px) translateX(1000px) translateY(-1000px) rotate(60deg) scale(1.2);
	     -o-transform:					translateX(1000px) translateY(-1000px) rotate(60deg) scale(1.2);
	        transform:	translateZ(1px) translateX(1000px) translateY(-1000px) rotate(60deg) scale(1.2);
}

.blocks-out-far .block,
.blocks-out-top .block,
.blocks-out-bot .block {
	opacity:0;
}

/* TODO: scale up to look like 3d */
.block.key.out {
	
	/* Behaviour */
	margin-left:200px; /* margin-left instead of translateX to fix bug un Webkit where the block looks 1px down when transition occurs */
	opacity:0;

	-webkit-transition-duration:.5s;
	-webkit-transition-property:opacity, margin-left;
	-webkit-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);

	-moz-transition-duration:.5s;
	-moz-transition-property:opacity, margin-left;
	-moz-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	
	-ms-transition-duration:.5s;
	-ms-transition-property:opacity, margin-left;
	-ms-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);

	-o-transition-duration:.5s;
	-o-transition-property:opacity, margin-left; /* WTF ! Opera needs margin-left, doesnt handle 'margin' only */
	-o-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	
	transition-duration:.5s;
	transition-property:opacity, margin-left;
	transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/* When browser doesn't support transition event */
.no-transition-event .blocks-out-top .block,
.no-transition-event .blocks-out-bot .block {
	display:none;
}