/***
 * Styles related to BOARD
 ***/
#board {

	/* Position */
	position:absolute;
	top:50%;
	left:50%;
	margin:-253px 0 0 -253px;

	/* Box Model */
	width:480px;
	height:480px;
	padding:13px;

	/* Visual */
	background:url(../img/sprite.png) no-repeat;
	opacity:0;
	
	/* Behaviour */
	-webkit-touch-callout:none;

	-webkit-user-select:none;
	 -khtml-user-select:none;
	   -moz-user-select:none;
	    -ms-user-select:none;
 	        user-select:none;
	
	/* No 3D acceleration because it causes flicker and white lines in chrome */
	-webkit-transform:scale(.2);
	   -moz-transform:scale(.2);
	    -ms-transform:scale(.2);
	     -o-transform:scale(.2);
	        transform:scale(.2);
}

/*** Brings the board in ***/
#board.init {

	/* Behaviour */
	opacity:1;
	
	/* Dont trigger hardware acceleration because it causes flicker and white lines in chrome XP with crappy GPU */
	-webkit-transform:scale(1);
	   -moz-transform:scale(1);
	    -ms-transform:scale(1);
	     -o-transform:scale(1);
	        transform:scale(1);

	/* Transition only wih .init to prevent chrome bug where board is animated before being fully endered */
	-webkit-transition:all .3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	   -moz-transition:all .3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	    -ms-transition:all .3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	     -o-transition:all .3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	        transition:all .3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.ui-ready #board {
	-webkit-transition:none;
	   -moz-transition:none;
	    -ms-transition:none;
	     -o-transition:none;
	        transition:none;
}

#board .border {

	/* Position */
	position:absolute;
	
	/* Visual */
	background:url(../img/sprite.png) no-repeat -9999px 0;

	/* Behaviour */
	opacity:0;

	-webkit-transition-duration:.2s;
	   -moz-transition-duration:.2s;
	    -ms-transition-duration:.2s;
	     -o-transition-duration:.2s;
	        transition-duration:.2s;

	-webkit-transition-property:opacity, -webkit-transform, transform;
	   -moz-transition-property:opacity, -moz-transform, transform;
	    -ms-transition-property:opacity, -ms-transform, transform;
	     -o-transition-property:opacity, -o-transform, transform;
	        transition-property:opacity, transform;

	-webkit-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	   -moz-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	    -ms-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	     -o-transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
	        transition-timing-function:cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#board .top {

	/* Position */
	top:-3px;
	left:9px;

	/* Box Model */
	width:501px;
	height:16px;
	
	/* Visual */
	background-position:-540px 0;

	/* Behaviour */
	-webkit-transform:translateX(0) translateY(-70px) scale(1.2) translateZ(1px);
	   -moz-transform:translateX(0) translateY(-70px) scale(1.2) translateZ(1px);
	    -ms-transform:translateX(0) translateY(-70px) scale(1.2) translateZ(1px);
	     -o-transform:translateX(0) translateY(-70px) scale(1.2) ;
	        transform:translateX(0) translateY(-70px) scale(1.2) translateZ(1px);
}

#board .left {

	/* Position */
	top:-3px;
	left:-4px;

	/* Box Model */
	height:500px;
	width:17px;
	
	/* Visual */
	background-position:-506px 0;
	
	/* Behaviour */
	-webkit-transform:translateX(-70px) translateY(0) scale(1.2) translateZ(1px);
	   -moz-transform:translateX(-70px) translateY(0) scale(1.2) translateZ(1px);
	    -ms-transform:translateX(-70px) translateY(0) scale(1.2) translateZ(1px);
	     -o-transform:translateX(-70px) translateY(0) scale(1.2) ;
	        transform:translateX(-70px) translateY(0) scale(1.2) translateZ(1px);
}

#board .bottom {

	/* Position */
	bottom:-3px;
	left:-4px;
	
	/* Box Model */
	height:16px;
	width:514px;

	/* Visual */
	background-position:-540px -16px;
	
	/* Behaviour */
	-webkit-transform:translateX(0) translateY(70px) scale(1.2) translateZ(1px);
	   -moz-transform:translateX(0) translateY(70px) scale(1.2) translateZ(1px);
	    -ms-transform:translateX(0) translateY(70px) scale(1.2) translateZ(1px);
	     -o-transform:translateX(0) translateY(70px) scale(1.2) ;
	        transform:translateX(0) translateY(70px) scale(1.2) translateZ(1px);
}

#board .right-top {

	/* Position */
	top:9px;
	right:-4px;
	
	/* Box Model */
	height:164px;
	width:17px;

	/* Visual */
	background-position:-523px 0;

	/* Behaviour */
	-webkit-transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
	   -moz-transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
	    -ms-transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
	     -o-transform:translateX(70px) translateY(0) scale(1.2) ;
	        transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
}

#board .right-bottom {
	
	/* Position */
	bottom:-3px;
	right:-4px;

	/* Box Model */
	height:257px;
	width:17px;

	/* Visual */
	background-position:-523px -164px;
	
	/* Behaviour */
	-webkit-transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
	   -moz-transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
	    -ms-transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
	     -o-transform:translateX(70px) translateY(0) scale(1.2) ;
	        transform:translateX(70px) translateY(0) scale(1.2) translateZ(1px);
}

#board.init-border {
	-webkit-box-shadow:0 0 32px rgba(0,0,0,.25);
	        box-shadow:0 0 32px rgba(0,0,0,.25);
}

#board.init-border .top,
#board.init-border .left,
#board.init-border .bottom,
#board.init-border .right-top,
#board.init-border .right-bottom {

	/* Behaviour */
	opacity:1;

	/* Keep hardware acceleration with 3D transform to prevent glitches except in Opera ofc */
	-webkit-transform:translateZ(1px); 
	   -moz-transform:translateZ(1px);
	    -ms-transform:translateZ(1px);
	     -o-transform:none; 
	        transform:translateZ(1px);
}
